body{
  background-image: url(images/bg-3.png);
}
.pic{
  width:200px;
  height:300px;
}
.icons{
  width:50px;
  height:50px;
  margin-left: 40px;
}
.icons:hover{
  opacity: 0.5;
}
.text{
  margin-left: 20px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
}
.foot{
  text-align: center;
  color:#435140;
  background-image: url(images/bg-2.png);
  padding:30px;
  margin-top: 20px;
}
.box{
    background-image: url(images/bg-2.png);
    padding:20px;
    border-radius: 20px;
}
.work{
  width:120px;
  height:120px;
}
.title{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}
.formHead{
  font-size: 20px;
  margin-left: 10px;
}
.details{
  margin-left: 10px;
  width:90%;
}
.submit{
  font-size: 20px;
  background-color: #738769;
  border:none;
  color:white;
  padding: 10px;
  margin: 10px;
}
#headerText{
  font-size: 35px;
  padding-top: 15px;
  background-color: #738769;
  color:white;
  margin-left: 40px;
  font-family: 'Indie Flower', cursive;
}
#navigation{
  border-bottom-style: solid;
  border-left-style:none;
  border-top-style:none;
  border-right-style:none;
  border-width: 5px;
  border-color: #738769;
}
#titleUnderline{
  border-bottom-style: solid;
  border-left-style:none;
  border-top-style:none;
  border-right-style:none;
  border-width: 2px;
  border-color: #738769;
  opacity: 0.5;
}
.#aboutLink{
  color:#738769;
  font-size: 20px;
}
#footerBorder{
  border-bottom-style: solid;
  border-left-style:none;
  border-top-style:solid;
  border-right-style:none;
  border-width: 5px;
  border-color: #738769;
}
#calcTitle{
  background-color: #738769;
  color:white;
  padding: 10px;
  text-align: center;
}
#pomodoroTitle{
  background-color: #738769;
  color:white;
  padding: 10px;
  text-align: center;
}
#weatherTitle{
  background-color: #738769;
  color:white;
  padding: 10px;
  text-align: center;
}
#wikiTitle{
  background-color: #738769;
  color:white;
  padding: 10px;
  text-align: center;
}
